<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Base</title>
    <link rel="stylesheet" href="/style/team-base-style.css" />
    <link rel="icon" href="/img/header_img/base.png" type="image/icon" />
  </head>
  <body>
    <%- include('header'); -%>

    <section>
      <div class="controll">
        <button id="previous-obj-btn">
          <img src="/img/back.png" alt="back" />
        </button>
        <button id="next-obj-btn">
          <img src="/img/next.png" alt="next" />
        </button>
      </div>

      <% teams.forEach((team)=>{ %>
      <div class="card">
        <img src="/team_logos/<%=team['logo'] %>" alt="<%= team['name']%>" />

        <h4><%= team['name'] %></h4>
        <hr />

        <a href="/moreInfo/<%= team['_id'] %>">More Info</a>
      </div>

      <%});%>
    </section>
    <script src="/script/team-base-script.js"></script>
  </body>
</html>
