<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/navigation-bar-style.css" />
    <link rel="stylesheet" href="/style/team-info-style.css" />
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/newTeam">New Team</a>
        </li>
        <li>
          <a href="/newPlayer">New Player</a>
        </li>
        <li>
          <a href="/base">Team Base</a>
        </li>
      </ul>
    </header>

    <section class="first">
      <div style="width: 100%">
        <h1><%= team['name'] %></h1>
        <hr />
      </div>

      <ul>
        <li>Country: <span><%= team['country']%></span></li>
        <li>League: <span><%= team['league']%></span></li>
        <li>Coach: <span><%= team['coach']%></span></li>
        <li>Balance: <span><%= team['balance']%></span></li>
      </ul>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/2048px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png"
        alt=""
      />
    </section>

    <div class="controll">
      <button>Table</button>
      <button>Cards</button>
    </div>

    <section id="table">
      <table>
        <thead>
          <tr>
            <th>N</th>
            <th>Full name</th>
            <th>Country</th>
            <th>Age</th>
            <th>Position</th>
            <th>Number</th>
          </tr>
        </thead>
        <tbody>
          <% let counter = 1; %> <% for(let player of team['players']){ %>
          <tr>
            <td><%= counter++ %></td>
            <td><%= player["fullname"] %></td>
            <td><%= player["country"] %></td>
            <td><%= player["age"] %></td>
            <td><%= player["position"] %></td>
            <td><%= player["number"] %></td>
          </tr>
          <% };%>
        </tbody>
      </table>
    </section>

    <section id="cards" style="display: flex">
      <div>
        <% team['players'].forEach( (player)=>{ %>

        <div class="card">
          <div class="image">
            <img src="<%= player['image'] %>" alt="<%= player['fullname'] %>" />

            <!-- https://www.daleeeel.com/f/res/h08/articles-photos/000/822/0082279-343-rinnoo-3bacf1bad1cc4079a924b819fe98e74f.jpg -->
            <span id="overall"> <%=player['rating']['overall']%> </span>
            <span id="position"> CF </span>
          </div>
          <div class="content">
            <table>
              <caption>
                <%= player['fullname'] %>
              </caption>
              <tbody>
                <tr>
                  <td><%=player['rating']['pace']%> PAC</td>
                  <td><%=player['rating']['dribbling']%> DRI</td>
                </tr>
                <tr>
                  <td><%=player['rating']['shooting']%> SHO</td>
                  <td><%=player['rating']['defending']%> DEF</td>
                </tr>
                <tr>
                  <td><%=player['rating']['passing']%> PAS</td>
                  <td><%=player['rating']['physical']%> PHY</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <% }); %>
      </div>
    </section>

    <script src="/script/team-info-script.js"></script>
  </body>
</html>
